<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Tangerine">
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
	</script>
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>Partitions</title>
</head>

<body>

	<div id="mydiv">
	<header>
		<h1>Ma liste de musique</h1>		
		{% if user_login %}
			<a href="/logout" class="logout btn">sign out</a>
		{% else %}
			<a href="/login" class="logout btn">sign in</a>
		{% endif %}
	</header>	
	{% block content %}
	{% endblock %}
	</div>	
</body>
	
</html>