{% extends "base.html" %}

{% block content %}
<div class="container body-content">
	<h2>Tunes</h2>
	<div class="panel-group" id="accordion">
	{% for rythme in list_rythmes %}
		<div class="panel panel-default">
			<div class="panel-heading btn_collapse" data-toggle="collapse" data-parent="#accordion" href="#r{{rythme.id_rythme}}">
				<h3 class="panel-title">
					{{rythme.nom_rythme}}
				</h3>
			</div>
		<div id="r{{rythme.id_rythme}}" class="panel-collapse collapse">
                <ul id="l{{rythme.id_rythme}}" class="list-group">
                </ul>
            </div>
		</div>
		

	{% endfor %}
	<script type="text/javascript">
	function to_execute() {
		var HTMLtuneLink = "<li class=\"row list-group-item\">"+
                           "<div class=\"col-sm-8\" style=\"cursor: pointer;\" onclick=\"window.location='/home/view/%id_tune%';\">"+
                                "<p>%titre%</p>"+
                            "</div>"+
                            "<div class=\"col-sm-2\">"+
                                "<p>%auteur%</p>"+
                            "</div>"+
                            "<div class=\"col-sm-2\">"+
                                "<a class=\"btn btn-primary\" href=\"\\home\\view\\%id_tune%\"><span class=\"glyphicon glyphicon-eye-open\"></span></a>"+
                                "<a class=\"btn btn-primary\" href=\"\\home\\download\\%pdf_file%\?file_name=%file_name%\" download=\"%titre%.pdf\"><span class=\"glyphicon glyphicon-save\"></span></a>"+
                            "</div></li>"
		{% for tune in list_tunes %}
			var tuneLink = HTMLtuneLink.replace("%id%","{{tune.id_tune}}");
			tuneLink = tuneLink.replace("%id_tune%","{{tune.id_tune}}");
			tuneLink = tuneLink.replace("%id_tune%","{{tune.id_tune}}");
			tuneLink = tuneLink.replace("%titre%","{{tune.titre}}");
			tuneLink = tuneLink.replace("%titre%","{{tune.titre}}");
			tuneLink = tuneLink.replace("%pdf_file%","{{tune.pdf_file}}");
			tuneLink = tuneLink.replace("%file_name%","{{tune.titre}}");
			tuneLink = tuneLink.replace("%auteur%","{{tune.auteur}}");
			$("#l{{tune.id_rythme}}").append(tuneLink);
		{% endfor %}
	};
	</script>
	</div>
</div>
{% endblock %}