{% extends "base.html" %}

{% block content %}
<div class="container body-content">
	<div class="plain" id="view">
		<h3 class="tune">{{tune.titre}}</h3>
		<img id="myImg" src="https://tunemanager.blob.core.windows.net/mycontainer/{{tune.image_file}}" width="600"></img>
	</div>
	<script type="text/javascript">
		function to_execute() {
			var width=$("#view").width();
			$("#myImg").width(width);
			$(window).resize(function() {
				var width=$("#view").width();
				$("#myImg").width(width);
			});
		};
	</script>
</div>
{% endblock %}