html {
    width : 100%;
    font-size : 18px;
    background-color: #ccffff; 
}
body {
    width: 100%;
}
header {
    background-color: #66ccff;
    padding: 1px 10px;
    box-shadow : 0em 0.1em 0.1em #888888;
}
input {
    padding: 5px 5px;
}
.logout {
    right: 0px;
    top: 10px;
    position: absolute;
}
h1 {
    font-size : 1.5em;
}
header>h1 {
    font-family: 'Tangerine', serif;
    font-size: 3em;
    text-align: center;
    }
h3.tune {
    font-size: 2em;
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}
h2.dance {
    font-size: 2em;
    font-family: 'Tangerine', serif;    
}
.right {
    position: absolute;
    right: 10px;
}
.left {
    position: absolute;
    left: 10px;
}
.btn {
    padding: 10px; 
    margin: 4px;
    box-shadow: 0 0.2em 0.2em #888888;
    background-color: #3366FF;
    color:white;
    border-radius: 10px;
}
#mydiv {
    width : auto;
}
.division {
    margin: 10px 5px;
    padding: 1px 5px;
    background-color: white;
    box-shadow : 0em 0.1em 0.1em #888888;
}
#myImg {
    margin: 0px 10px;
}
@media (max-width : 400px) {
        html {
            font-size: 14px;
        }
        h1 {
        line-height: 70%;
        }
        h2.dance {
 				margin: 10px 0px;       
        }
        ul {
				margin: 7px 0px;
			}	
			}
        
        
@media (max-width : 300px) {
        html {
            font-size: 12px;
        }
        h2.dance {
 				margin: 10px 0px;       
        }
        ul {
				margin: 7px 0px;
			}	
        }
